body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #333 50%, #f4f4f4 50%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
}

.logo {
    width: 100px;
    
}
.pointt{
    color: crimson;
}
h3{
    color: #333;
    font-family: 'lato';
    font-size: 30px;
    cursor: default;
    margin: 0;
}
.colo{
    color: crimson;
}

h2 {
    
    color: #333;
    font-family: 'lato';
    font-size: 50px;
    cursor: default;
    margin: 25px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 15px;
    border: 2px solid #333;
    cursor: pointer;
    font-size: 16px;
    transition:  0.5s;
}

button:hover {
    background-color: #f4f4f4;
    color: #333;
}

.error-message {
    color: red;
    margin-top: 15px;
    font-size: 14px;
}